.pg-markets-screen {
  align-items: flex-start;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
